apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: aichat-vector-store-pvc
  namespace: apc-be-ns
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn
