apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaNodePool
metadata:
  name: kafka-cluster-pool
  namespace: apc-striming-ns
  labels:
    strimzi.io/cluster: kafka-cluster
spec:
  replicas: 1
  storage:
    type: ephemeral
  roles:
    - broker
    - controller
  resources:
    requests:
      memory: "512Mi"
      cpu: "250m"
    limits:
      memory: "1Gi"
      cpu: "500m"



