apiVersion: apps/v1
kind: Deployment
metadata:
  name: mypage-backend
  namespace: apc-be-ns
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      app: mypage-backend
  template:
    metadata:
      labels:
        app: mypage-backend
    spec:
      imagePullSecrets:
      - name: harbor-registry-secret
      containers:
      - name: mypage-backend
        image: 192.168.0.170:30000/alphacar/alphacar-mypage:1.0.32-c1d0917
        imagePullPolicy: Always
        ports:
        - containerPort: 3006
          name: http-mypage
        env:
        - name: PORT
          value: "3006"
        - name: SERVICE_NAME
          value: "mypage-backend"
        - name: BASE_URL
          value: "https://192.168.56.200:31008"
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          valueFrom:
            configMapKeyRef:
              name: alphacar-be-config
              key: OTEL_EXPORTER_OTLP_ENDPOINT
        - name: DATABASE_HOST
          valueFrom:
            configMapKeyRef:
              name: alphacar-be-config
              key: MONGO_HOST
        - name: DATABASE_PORT
          valueFrom:
            configMapKeyRef:
              name: alphacar-be-config
              key: MONGO_PORT
        - name: MARIADB_HOST
          valueFrom:
            configMapKeyRef:
              name: alphacar-be-config
              key: MARIADB_HOST
        - name: MARIADB_PORT
          valueFrom:
            configMapKeyRef:
              name: alphacar-be-config
              key: MARIADB_PORT
        - name: DATABASE_USER
          valueFrom:
            secretKeyRef:
              name: alphacar-be-secret
              key: MONGO_USER
        - name: DATABASE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: alphacar-be-secret
              key: MONGO_PASS
        - name: DATABASE_NAME
          valueFrom:
            secretKeyRef:
              name: alphacar-be-secret
              key: MONGO_DB_NAME
        - name: MARIADB_USERNAME
          valueFrom:
            secretKeyRef:
              name: alphacar-be-secret
              key: MARIADB_USER
        - name: MARIADB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: alphacar-be-secret
              key: MARIADB_PASS
        - name: MARIADB_DATABASE
          valueFrom:
            secretKeyRef:
              name: alphacar-be-secret
              key: MARIADB_DB_NAME
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: alphacar-be-secret
              key: JWT_SECRET
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: mypage-backend
  namespace: apc-be-ns
spec:
  selector:
    app: mypage-backend
  ports:
  - port: 3006
    targetPort: 3006
    protocol: TCP
    name: http-mypage
  type: ClusterIP
