apiVersion: v1
kind: Service
metadata:
  name: monitoring-analysis-frontend
  namespace: apc-obsv-ns
  labels:
    app: monitoring-analysis-frontend
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: monitoring-analysis-frontend

