apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: main-backend-scaledobject
  namespace: apc-be-ns
spec:
  scaleTargetRef:
    name: main-backend
    kind: Deployment
  minReplicaCount: 1
  maxReplicaCount: 10
  triggers:
  - type: cpu
    metricType: Utilization
    metadata:
      value: "70"
  - type: memory
    metricType: Utilization
    metadata:
      value: "80"

