apiVersion: v1
kind: Secret
metadata:
  name: aws-bedrock-secret
  namespace: alphacar
type: Opaque
stringData:
  region: "us-east-1"
  access_key_id: "YOUR_AWS_ACCESS_KEY_ID"
  secret_access_key: "YOUR_AWS_SECRET_ACCESS_KEY"
  guardrail_id: "YOUR_GUARDRAIL_ID"
  guardrail_version: "DRAFT"
  embedding_model_id: "amazon.titan-embed-text-v2:0"
  llm_model_id: "us.meta.llama3-3-70b-instruct-v1:0"

