apiVersion: v1
kind: Secret
metadata:
  name: monitoring-analysis-secret
  namespace: apc-obsv-ns
type: Opaque
stringData:
  slack-webhook-url: "YOUR_SLACK_WEBHOOK_URL"
  slack-report-webhook-url: "YOUR_SLACK_REPORT_WEBHOOK_URL"
  slack-bot-token: "YOUR_SLACK_BOT_TOKEN"
  slack-channel-id: "YOUR_SLACK_CHANNEL_ID"

